.blog-searchform {

  form {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }

  label {
    position: absolute;
    left: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
  }

  input {
    width: 100%;
    padding: 0.75rem 2rem .75rem 3rem;
    border: none;
    color: rgba($primaryColor,.6);
    background-color: $lightGray;
    outline: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $medium;
    border-radius: 2.5rem;
    transition: all 0.2s ease;
  }

  .searchsubmit {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    padding: 0;
    height: 100%;
    border-radius: 3rem 0 0 3rem;
    text-indent: -999rem;
    background: url("../assets/images/blog_searchicon.svg") no-repeat center right;
  }
}
