.pagination-nav {

  display: flex;
  justify-content: center;
  align-items: center;

  .page-numbers {
    display: flex;
    margin-right: .5rem;
    font-family: $header-font-family;
    font-weight: $medium;
    color: $primaryColor;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    width: 2rem;
    height: 2rem;
    background-color: $white;
    border-radius: 50%;

    &:hover {
      color: $white;
      background-color: $darkBlueColor;
    }
  }

  .page-numbers.current {
    color: $white;
    background-color: $darkBlueColor;
  }

  .page-numbers.next {
    font-size: 1.5rem;
    font-weight: $medium;
    color: rgba($primaryColor,.6);
    &:hover {
      color: $white;
      background-color: $darkBlueColor;
    }
  }
}
