#searchform {

  display: inline-block;
  position: relative;
  height: 2rem;
  padding: 0;
  margin-right: 0;

  @media (min-width: 992px) {
    margin-right: 3rem;
  }

  input[type="text"] {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    display: inline-block;
    color: $white;
    padding: .5rem 3rem .5rem .5rem;
    position: absolute;
    background: none;
    outline: 0;
    border: 0;
    top: 0;
    right: 0;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;




  }

  input[type="text"]:focus:hover {

  }

  input[type="text"]:focus {
    width: 300px;
    cursor: text;
    outline: none;
    border: none;
    color: $white;
    border-bottom: 1px solid $white;
    background-color: $primaryColor;
    z-index: 2;

    @media (min-width: 375px) {
      width: 325px;
    }

    @media (min-width: 412px) {
      width: 360px;
    }

    @media (min-width: 460px) {
      width: 400px;
    }

    @media (min-width: 540px) {
      width: 240px;
    }




  }

  input[type="submit"] {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    background-color: transparent;
    float: right;
    background-image: url("../assets/images/magnifing_glass.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    opacity: 0.8;
  }
}
