.governance-reports {
  padding-top: 3.25rem;
  padding-bottom: 1.25rem;
  @include full-width-section();

  @media (min-width: 768px) {
    padding-top: 6.25rem;
    padding-bottom: 3.25rem;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: $medium;
    line-height: 3.875rem;
    margin-bottom: 1rem;
    font-family: $header-font-family;

    @media (min-width: 768px) {
      padding-right: 4rem;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    font-size: 1.25rem;
    font-weight: $regular;
    line-height: 1.875rem;
    margin-bottom: 1.5rem;
    font-family: $body-font-family;

    @media (min-width: 768px) {
      padding-right: 4rem;
      margin-bottom: 2.5rem;
    }
  }

  &__column {
    margin-bottom: 3rem;
  }

  &__link-container {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: $blueColor;
    font-size: 1.125rem;
    line-height: 2.8rem;
    font-weight: $semi-bold;

    &:hover {
      color: $accentColor;
    }
  }
}

.acf-block-preview {

  .governance-reports {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;

    @media (min-width: 768px) {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: $medium;
      line-height: 2.75rem;

      @media (min-width: 768px) {
        padding-right: 4rem;
        margin-bottom: 1.5rem;
      }
    }

    &__description {
      font-size: 1.25rem;

      @media (min-width: 768px) {
        padding-right: 4rem;
        margin-bottom: 2.5rem;
      }
    }

    &__column {
      margin-bottom: 1rem;
    }

    &__link {
      font-family: $body-font-family;
    }
  }
}
