<section class="section">
  <div class="container-md error-page">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center error-page__title">{{ title }}</h1>
        <h2 class="text-center error-page__subtitle">{{ options.error.error_subtitle }}</h2>
        <p class="text-center error-page__desc">{{ options.error.error_description }}</p>
      </div>
    </div>
  </div>

</section>
