<section class="blog">
  <div class="container blog__container">
    <div class="row">

      <div class="col-md-12 col-lg-9">


        {% include('parts/posts.twig') %}
        <div class="pagination-nav p-t-32 p-b-120">
          {{ pagination }}
        </div>
      </div>

      <div class="col-md-12 col-lg-3">
        {% include('parts/blog-searchform.twig') %}
        {%  if options.blog.tags %}
          {% include('parts/tags.twig') %}
        {% endif %}
        {% include('parts/archives.twig') %}
      </div>

    </div>
  </div>

</section>
