<div tabindex="0" id="hamburger" class="hamburger hamburger__desktop nav-icon" >
  <span></span>
  <span></span>
  <span></span>
</div>


<div id="hamburger-mobile" class="hamburger hamburger__mobile nav-icon">
<span></span>
  <span></span>
  <span></span>
</div>
