{% set register_url = function('wp_registration_url') %}
          {% set register_name = __('Become a member') %}
<a tabindex="0" aria-label="Register"
   href="{{ options.login.register_url ? options.login.register_url : register_url }}"
   class="button button--white  header__button-member--desktop">
  {{ options.login.register_button ? options.login.register_button : register_name  }}</a>

{% set login_url = function('wp_login_url') %}
          {% set login_name = __('Sign in') %}

<a tabindex="0" aria-label="Login" href="{{ options.login.login_url ? options.login.login_url : login_url }}"
   class="button button--white-ghost header__button-sign header__button-sign--desktop">{{ options.login.login_button ? options.login.login_button : login_name }}</a>
