
<div id="searchform">
<form  role="search" method="get" action="{{ site.link }}">
  <input name="s" id="s" type="text" placeholder="Search" value="{{ function('get_search_query') }}" autocomplete="off">
  <input id="search_submit" value="Search" type="submit">
</form>
</div>

